<main class="container">
  <section class="row">
    <section>
      <div class="service-block">
        <div class="service-icon pulse infinite animated">
            <i class="fa fa-mobile"></i>
        </div>
        <h3>hello {{model.group}}</h3>
          {{component 'keyboard-example' target=model.group}}
          <p>Our platform is:</p>
          <ul>
            {{#each model.platforms as |platform|}}
              <li>{{platform}}</li>
            {{/each}}
         </ul>
       </div>
    </section>
  </section>
</main>
<footer>
  <img class="logo" src="assets/images/logo.png" alt="iamFiscus" />
</footer>
{{outlet}}
